# Creating first Dataframe to be used

## Importing necessary libraries

In [6]:
import pandas as pd

## Reading dataframe to be used and modified

In [14]:
originalDF = pd.read_pickle('FallAllD.pkl')
originalDF.head(10)

,SubjectID,Device,ActivityID,TrialNo,Acc,Gyr,Mag
0,1,Waist,13,1,"[[4062, -1428, -45], [4190, -1422, -24], [4302...","[[1355, 21, 159], [1334, -19, 168], [1318, -68...","[[5541, 1551, 2887], [5568, 1587, 2956], [5605..."
1,1,Waist,13,2,"[[3737, -1549, 158], [3729, -1553, 160], [3728...","[[-4, 0, -1], [-7, 11, -3], [-11, 11, -2], [-1...","[[5185, 2842, 2267], [5220, 2876, 2260], [5211..."
2,1,Waist,13,5,"[[3954, -401, -107], [3894, -346, -108], [3835...","[[177, 173, 177], [160, 183, 164], [152, 197, ...","[[5626, 2148, 3057], [5602, 2127, 3015], [5562..."
3,1,Waist,13,6,"[[3992, -682, -33], [3988, -694, -31], [3985, ...","[[12, 13, 9], [15, 12, 10], [11, 12, 9], [9, 1...","[[5530, 2536, 2713], [5521, 2561, 2774], [5493..."
4,1,Waist,13,9,"[[2223, 167, -18], [2139, 222, -90], [2108, 25...","[[-396, -163, 33], [-338, -62, 54], [-272, 44,...","[[5752, 2071, 2723], [5801, 2220, 2615], [5776..."
5,1,Waist,13,10,"[[4022, -429, 328], [4023, -428, 327], [4018, ...","[[-29, 24, 0], [-25, 22, -4], [-30, 22, -3], [...","[[5608, 2591, 2617], [5602, 2597, 2610], [5604..."
6,1,Waist,13,12,"[[4014, -227, 371], [4017, -224, 376], [4023, ...","[[-46, 15, -15], [-47, 17, -15], [-47, 22, -12...","[[5864, 1364, 3104], [5898, 1216, 3044], [5917..."
7,1,Waist,14,1,"[[3759, -283, 1472], [3760, -287, 1473], [3768...","[[1, 18, -1], [2, 15, -1], [2, 14, -2], [1, 15...","[[5631, 2366, 1215], [5657, 2305, 1174], [5624..."
8,1,Waist,14,3,"[[3962, 84, 813], [3959, 85, 814], [3956, 90, ...","[[-6, 13, 7], [-8, 14, 8], [-8, 13, 6], [-11, ...","[[5577, 837, 479], [5598, 814, 530], [5627, 93..."
9,1,Waist,14,5,"[[3590, 513, 1808], [3592, 509, 1808], [3592, ...","[[-2, 36, -4], [-4, 34, -5], [-2, 32, -5], [0,...","[[5717, 1934, 1281], [5738, 1945, 1379], [5688..."

## Adding a new column to the original dataframe

This new column is for classifying whether the row represents a fall or not

In [16]:
dataframe1 = originalDF
#dataframe1['Fall'] = 0
#dataframe1.head(10)

for x in dataframe1.index:
    if (dataframe1['ActivityID'][x] > 100):
        dataframe1['Fall'][x] = 1
    else:
        dataframe1['Fall'][x] = 0

print('------------------HEAD------------------------------')
print(dataframe1.head())
print('------------------TAIL------------------------------')
print(dataframe1.tail())

------------------HEAD------------------------------
   SubjectID Device  ActivityID  TrialNo  \
0          1  Waist          13        1
1          1  Waist          13        2
2          1  Waist          13        5
3          1  Waist          13        6
4          1  Waist          13        9

                                                 Acc  \
0  [[4062, -1428, -45], [4190, -1422, -24], [4302...
1  [[3737, -1549, 158], [3729, -1553, 160], [3728...
2  [[3954, -401, -107], [3894, -346, -108], [3835...
3  [[3992, -682, -33], [3988, -694, -31], [3985, ...
4  [[2223, 167, -18], [2139, 222, -90], [2108, 25...

                                                 Gyr  \
0  [[1355, 21, 159], [1334, -19, 168], [1318, -68...
1  [[-4, 0, -1], [-7, 11, -3], [-11, 11, -2], [-1...
2  [[177, 173, 177], [160, 183, 164], [152, 197, ...
3  [[12, 13, 9], [15, 12, 10], [11, 12, 9], [9, 1...
4  [[-396, -163, 33], [-338, -62, 54], [-272, 44,...

                                                 Mag  Fall
0  [[5541, 1551, 2887], [5568, 1587, 2956], [5605...     1
1  [[5185, 2842, 2267], [5220, 2876, 2260], [5211...     1
2  [[5626, 2148, 3057], [5602, 2127, 3015], [5562...     1
3  [[5530, 2536, 2713], [5521, 2561, 2774], [5493...     1
4  [[5752, 2071, 2723], [5801, 2220, 2615], [5776...     1
------------------TAIL------------------------------
      SubjectID Device  ActivityID  TrialNo  \
1793         15  Waist         131        2
1794         15  Waist         132        1
1795         15  Waist         134        2
1796         15  Waist         135        1
1797         15  Waist         135        2

                                                    Acc  \
1793  [[3805, 827, 464], [3822, 855, 481], [3836, 80...
1794  [[4019, -542, 564], [4014, -542, 564], [4016, ...
1795  [[3884, -1500, 557], [3875, -1485, 570], [3915...
1796  [[4045, -152, 405], [4043, -143, 398], [4040, ...
1797  [[4006, -691, 18], [4010, -708, 24], [4007, -7...

                                                    Gyr  \
1793  [[125, -157, -474], [114, -161, -460], [108, -...
1794  [[-19, 18, 12], [-21, 19, 10], [-24, 16, 11], ...
1795  [[42, 42, -8], [48, 37, -4], [49, 32, -1], [57...
1796  [[21, 7, 1], [22, 7, 3], [21, 9, 5], [22, 9, 3...
1797  [[-2, 9, 6], [-5, 12, 4], [-4, 12, 5], [-8, 9,...

                                                    Mag  Fall
1793  [[2863, 617, 4182], [2891, 685, 4202], [2891, ...     1
1794  [[3567, 587, 1707], [3561, 493, 1684], [3551, ...     1
1795  [[2627, 2463, -442], [2725, 2403, -415], [2763...     1
1796  [[3521, 859, 3254], [3559, 857, 3262], [3553, ...     1
1797  [[3319, 2445, 1284], [3349, 2405, 1268], [3325...     1

##

In [11]:
for x in dataframe1.index:
    if(dataframe1['ActivityID'][x] > 100):
        dataframe1['Fall'][x] = 1

dataframe1.tail(10)

C:\Users\teddy\AppData\Local\Temp/ipykernel_24176/2156126832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe1['Fall'][x] = 1

,SubjectID,Device,ActivityID,TrialNo,Acc,Gyr,Mag,Fall
1788,15,Waist,126,1,"[[2042, 627, -578], [1970, 583, -531], [1888, ...","[[49, -110, -416], [49, -110, -405], [55, -110...","[[3067, -73, 3919], [3069, -71, 3947], [3115, ...",1
1789,15,Waist,126,2,"[[6165, 3135, -2025], [6024, 3508, -1939], [59...","[[-171, 65, 297], [-190, 34, 285], [-236, 1, 2...","[[3519, 145, 2171], [3513, 17, 2292], [3475, -...",1
1790,15,Waist,127,2,"[[69, 3967, 846], [64, 3961, 844], [57, 3957, ...","[[-2, 25, 9], [-1, 23, 11], [1, 19, 10], [2, 1...","[[3519, 2009, 1621], [3505, 2005, 1728], [3489...",1
1791,15,Waist,128,1,"[[-583, 3406, 2099], [-586, 3417, 2100], [-587...","[[-13, 13, 9], [-14, 11, 11], [-16, 10, 9], [-...","[[3159, 713, 414], [3189, 845, 287], [3223, 78...",1
1792,15,Waist,129,1,"[[3045, 2441, 1066], [3046, 2433, 1053], [3053...","[[-2, 13, 3], [-2, 11, 2], [-1, 6, 1], [-5, 9,...","[[3457, 397, 737], [3403, 451, 736], [3435, 50...",1
1793,15,Waist,131,2,"[[3805, 827, 464], [3822, 855, 481], [3836, 80...","[[125, -157, -474], [114, -161, -460], [108, -...","[[2863, 617, 4182], [2891, 685, 4202], [2891, ...",1
1794,15,Waist,132,1,"[[4019, -542, 564], [4014, -542, 564], [4016, ...","[[-19, 18, 12], [-21, 19, 10], [-24, 16, 11], ...","[[3567, 587, 1707], [3561, 493, 1684], [3551, ...",1
1795,15,Waist,134,2,"[[3884, -1500, 557], [3875, -1485, 570], [3915...","[[42, 42, -8], [48, 37, -4], [49, 32, -1], [57...","[[2627, 2463, -442], [2725, 2403, -415], [2763...",1
1796,15,Waist,135,1,"[[4045, -152, 405], [4043, -143, 398], [4040, ...","[[21, 7, 1], [22, 7, 3], [21, 9, 5], [22, 9, 3...","[[3521, 859, 3254], [3559, 857, 3262], [3553, ...",1
1797,15,Waist,135,2,"[[4006, -691, 18], [4010, -708, 24], [4007, -7...","[[-2, 9, 6], [-5, 12, 4], [-4, 12, 5], [-8, 9,...","[[3319, 2445, 1284], [3349, 2405, 1268], [3325...",1

In [13]:
trash = dataframe1 

trash['Acc'] = trash['Acc'] * 0.000244

trash.head()

,SubjectID,Device,ActivityID,TrialNo,Acc,Gyr,Mag,Fall
0,1,Waist,13,1,"[[0.991128, -0.348432, -0.01098], [1.02236, -0...","[[1355, 21, 159], [1334, -19, 168], [1318, -68...","[[5541, 1551, 2887], [5568, 1587, 2956], [5605...",0
1,1,Waist,13,2,"[[0.911828, -0.377956, 0.038551999999999996], ...","[[-4, 0, -1], [-7, 11, -3], [-11, 11, -2], [-1...","[[5185, 2842, 2267], [5220, 2876, 2260], [5211...",0
2,1,Waist,13,5,"[[0.964776, -0.097844, -0.026108], [0.950136, ...","[[177, 173, 177], [160, 183, 164], [152, 197, ...","[[5626, 2148, 3057], [5602, 2127, 3015], [5562...",0
3,1,Waist,13,6,"[[0.974048, -0.166408, -0.008052], [0.97307199...","[[12, 13, 9], [15, 12, 10], [11, 12, 9], [9, 1...","[[5530, 2536, 2713], [5521, 2561, 2774], [5493...",0
4,1,Waist,13,9,"[[0.542412, 0.040748, -0.004392], [0.521915999...","[[-396, -163, 33], [-338, -62, 54], [-272, 44,...","[[5752, 2071, 2723], [5801, 2220, 2615], [5776...",0